body{
    width: 1440px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(234, 29%, 20%);
}
#all{
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}
.img{ 
    display: flex;
    margin: 2px 320px 20px 50px;
    left: 10px;
}
h1{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 40px;
    margin: 0 0 10px;
}
.btn{
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    border-radius: 6px;
    text-align: center;
    width: 323px;
    height: 40px;
    cursor: pointer;
}
.btn:hover{
    background-color:hsl(4, 100%, 67%);
    border: hsl(4, 100%, 67%);
    box-shadow: 0 4px 6px 0 hsla(4, 100%, 67%, 0.75);  
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.title{
    padding: 0 12px;
}
#btn{
    margin:25px;
}
.para{
    padding: 0 0 0 15px;
}
@media screen and (max-width: 376px){
    body{
        width: 375px;
        background-color: white;
    }
    p{
        padding: 0 25px 0 0;
    }
    #btn{
        margin: 200px 0 0 0;
    }
}